{
  "layer": "bottom",
  "position": "bottom",
  "height": 20,
  "spacing": 5,
  "modules-left": ["sway/workspaces"],
  "modules-center": ["sway/window"],
  "modules-right": ["sway/mode","sway/language","tray","clock"],

  "sway/workspaces": {
    "window-rewrite": {},
    "all-outputs": true,
    "persistent-workspaces": {
      "11:file":  [],
      "12:dev":   [],
      "13:dev2":  [],
      "14:web":   [],
      "15:doc":   [],
      "16:media": [],
      "17:talk":  [],
      "18:misc":  [],
      "21:file_2":  [],
      "22:dev_2":   [],
      "23:dev2_2":  [],
      "24:web_2":   [],
      "25:doc_2":   [],
      "26:media_2": [],
      "27:talk_2":  [],
      "28:misc_2":  [],
    },
    "format": "{name}",
  },

  "battery": {
    "format": " {capacity}%",
    "states": {
      "full": 100,
      "warning": 30,
      "critical": 15,
    },
  },

  "clock": {
    "timezones": ["","Europe/Minsk","Asia/Jerusalem"],
    "format": "{:%a %b %d, %H:%M %Z}",
    "tooltip-format": "{tz_list}",
  },
}
