window#waybar {
    background: @theme_base_color;
    border-bottom: 1px solid @unfocused_borders;
    color: @theme_text_color;
    font-family: sans;
    font-size: 12px;
}

#workspaces button {
    padding: 0 0.3em;
}

#workspaces button.current_output label {
    background-color: transparent;
}

#workspaces button.current_output {
    background-color: #2B2E38;
}

#workspaces button.current_output.empty {
    background-color: transparent;
}

#workspaces button.current_output.visible {
    background-color: #7F9F7F;
}

#workspaces button.current_output.visible label {
    color: #2B2E38;
}

#battery.full {
    color: #7F9F7F;
}

#battery.warning {
    color: #E3CEAB;
}

#battery.critical {
    color: #CC9393;
}
